#logo{
   height: 70px;
   padding-bottom: 2px;
}

.flexible{
    display: flex;
}

.bg{
    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

nav a{
    font-weight: 500;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding: 0%;
    margin: 0%; */
}

.res-img{
    width: 100%;
    padding: 0;
}

.text-up{
    padding-bottom: 15px;
}

.text-down{
    padding-top: 6px;
    margin: 10px;
}

.bg-non{
    background: #ffffff;
}

#button-send{
    padding: 3px;
    display: block;
    text-decoration: none;
}

.font-color{
    color: white;
    font-weight: 500;
    justify-content: center;
}

.products{
    gap: 15px;
}

.font-title{
    font-weight: 800;
}

.margen{
    margin: 10px;
}

.space-foot{
    justify-content: space-between;
}

.foot-title-text{
    font-weight: 900px; ;
}
