#logo{
   height: 78px;
   padding-bottom: 2px;
}

.flexible{
    display: flex;
}

.bg{
    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

nav a{
    font-weight: 500;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding: 0%;
    margin: 0%; */
}

.res-img{
    width: 100%;
    padding: 0;
}

.text-up{
    padding-bottom: 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}
